version: "3.8"

services:
  mongo:
    image: mongo:6.0
    container_name: mongo-local
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  mongo-express:
    depends_on:
      - mongo
    image: mongo-express
    container_name: mongo-express
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin

  backend:
    build: ./backend
    container_name: aqa-backend
    ports:
      - "5000:5000"
    environment:
      PORT: 5000
      SECRET_KEY: MY_RANDOM_KEY
      ENVIRONMENT: local
      MONGO_URI_LOCAL: mongodb://mongo:27017/aqa-course
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: aqa-frontend
    ports:
      - "8585:8585"
    depends_on:
      - backend

volumes:
  mongo-data:
