version: "3.9"

services:
  mongo:
    image: mongo:6.0
    container_name: mongo-local
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  mongo-express:
    depends_on:
      - mongo
    image: mongo-express
    container_name: mongo-express
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin

  backend:
    build: .
    container_name: aqa-backend
    ports:
      - "8686:8686"
    depends_on:
      - mongo
    environment:
      PORT: 8686
      SECRET_KEY: MY_RANDOM_KEY
      ENVIRONMENT: local
      MONGO_URI_LOCAL: mongodb://mongo:27017/aqa-course
    restart: unless-stopped

volumes:
  mongo-data:
