.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-right,
.navbar-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-menu {
  position: relative;
  cursor: pointer;
}

.user-dropdown,
.notifications-dropdown,
.module-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--bs-dark);
  padding: 0.5rem;
  border-radius: 5px;
  min-width: 150px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#notification-bell {
  position: relative;
}

#notification-badge {
  position: absolute;
  right: -2px;
  min-width: 16px;
  height: 16px;
  padding: 0 4px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
  background-color: red;
  color: white;
  display: none;
}

.module-dropdown {
  top: 11.5%;
  left: 0;
  background-color: var(--bs-dark);
  border: 1px solid #444;
  border-radius: 5px;
  padding: 0.5rem 0;
  min-width: 100px;
  max-width: 135px;
  white-space: nowrap;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1050;
}

.module-dropdown.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.module-dropdown a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

[name="module-item"] a {
  opacity: 1;
  transition: opacity 0.2s ease, color 0.2s ease;
}

[name="module-item"] a:hover {
  opacity: 0.8;
}

[name="module-item"] a.active {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}

#notification-popover {
  position: absolute;
  z-index: 1999;
}

#mobileOffcanvas {
  opacity: 90%;
  width: 100%;
}

.sp_btn-close {
  padding: calc(var(--bs-offcanvas-padding-y) * 0.5) calc(var(--bs-offcanvas-padding-x) * 0.5);
}
